@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Thank you for choosing our store for your purchase
    </h1>
    <p>For buy windscribe VPN you can click on <a href="https://t.me/Payamer_shop/356">this link</a>.</p>
</div>! </p>